<script type="text/template" id="tempFlowchartFile">
	<div class="flwc_wrapper v-resizeable" id="@@id@@" style="@@styles@@">
		<h1 class="flwc_title">
			<span class="title_text">@@title@@ - @@id@@</span>
			<span class="icon @@stateIcon@@"></span>
			<span class="icon close_dark"></span>
		</h1>
		<div class="flwc_container">
			<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlinkns="http://www.w3.org/1999/xlink" xmlns:fc="fc@svg" version="1.1">
				<title>@@title@</title>
				<desc>@@desc@@</desc>
				<symbol id="templateSelector">
					<g fc:for="g_shp14143400295030">
						<rect class="slctBox" x="104" y="122" width="154" height="103" fill="transparent" stroke="#222" stroke-dasharray="4,4" style="cursor:move;" id="slctBox0" display="inline"></rect>
						<g class="slctGrips" display="inline" id="slctGrips0">
							<rect class="slctGrip_nw" fc:handle="nw" style="cursor:nw-resize" x="101" y="119" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_n" fc:handle="n" style="cursor:n-resize" x="178" y="119" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_ne" fc:handle="ne" style="cursor:ne-resize" x="254" y="119" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_e" fc:handle="e" style="cursor:e-resize" x="254" y="170.5" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_se" fc:handle="se" style="cursor:se-resize" x="254" y="221" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_s" fc:handle="s" style="cursor:s-resize" x="178" y="221" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_sw" fc:handle="sw" style="cursor:sw-resize" x="101" y="221" width="6" height="6" fill="#fff" stroke="#222"></rect>
							<rect class="slctGrip_w" fc:handle="w" style="cursor:w-resize" x="101" y="170.5" width="6" height="6" fill="#fff" stroke="#222"></rect>
						</g>
					</g>
				</symbol>
				<g name="canvas" width="100%" height="100%"></g>
				<g class="gSelector" style="display:none;">
					<rect class="boxSelector" x="104" y="122" width="154" height="103"></rect>
					<g class="slctGrips" display="inline" id="slctGrips0">
						<rect class="slctGrip-nw" fc:handle="nw" x="101" y="119" width="6" height="6"></rect>
						<rect class="slctGrip-n" fc:handle="n" x="178" y="119" width="6" height="6"></rect>
						<rect class="slctGrip-ne" fc:handle="ne" x="254" y="119" width="6" height="6"></rect>
						<rect class="slctGrip-e" fc:handle="e" x="254" y="170.5" width="6" height="6"></rect>
						<rect class="slctGrip-se" fc:handle="se" x="254" y="221" width="6" height="6"></rect>
						<rect class="slctGrip-s" fc:handle="s" x="178" y="221" width="6" height="6"></rect>
						<rect class="slctGrip-sw" fc:handle="sw" x="101" y="221" width="6" height="6"></rect>
						<rect class="slctGrip-w" fc:handle="w" x="101" y="170.5" width="6" height="6"></rect>
					</g>
				</g>
			</svg>
			<span class="icon resize_se"></span>
		</div>
	</div>
</script>